<html>
<head>
</head>
<body>

Whattup cat?

<form action='/api/newPost' method="POST">

  <input type="text" name="firstName" value="sparky"/>
  <input type="text" name="lastName" value="cat"/>
  <input type="submit" name="submit"/>


</form>
<!--
<table>

<% for(var i = 0; i<cats.length;i++) { %>
  <tr>
    <td><%= cats[i].fName %></td>
    <td><%= cats[i].lName %></td>
  </tr>
<% } %>

</table>
-->


</body>
</html>
